.homeinfo {
  margin-left: 12%;
  margin-right: 12%;
}

.homeinfo-container {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
}

.homeinfo-image img {
  width: 100%;
  height: 100%;
  max-height: 289px;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}

.homeinfo-content {
background: rgba(242, 242, 242, 1);
  padding: 20px;
  border-radius: 0 12px 12px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeinfo-content h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #111;
}

.homeinfo-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
}

@media (max-width: 768px) {
  .homeinfo {
    padding: 20px 1%;
  }

  .homeinfo-container {
    flex-direction: column;
  }

  .homeinfo-image img {
    border-radius: 12px 12px 0 0;
    max-width: 100%;
  }

  .homeinfo-content {
    border-radius: 0 0 12px 12px;
  }

  .homeinfo-content h2 {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
  }

  .homeinfo-content p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .homeinfo-content h2 {
    font-size: 14px;
  }

  .homeinfo-content p {
    font-size: 12px;
  }
  .homeinfo-image img {
    border-radius: 12px 12px 0 0;
    max-height: 100%;
  }
}